node_modules/
dist/
.env
.env.dev
**/.env
!.env.example
!**/.env.example
*.log
.DS_Store
build/
.dart_tool/
.packages
.pub-cache/
.pub/
*.iml

# IDE
.claude/
.settings/
*.tsbuildinfo

# Coverage
coverage/
